### This is the snippet File ###
# TLS Security
(tls) {
        tls /etc/letsencrypt/live/REPLACE_DOMAIN/fullchain.pem /etc/letsencrypt/live/REPLACE_DOMAIN/privkey.pem {
                protocols tls1.2 tls1.3
                ciphers TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
        }
}

# HSTS (Recommend 31536000)
(header) {
        header {
                #Permissions-Policy "interest-cohort=()"
                Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
                X-Content-Type-Options "nosniff"
                X-Frame-Options "SAMEORIGIN"
                X-XSS-Protection "1; mode=block"
                Referrer-Policy "no-referrer"
        }
}

# If destination proxy is insecure HTTPS
(insecure_https) {
        transport http {
                tls_insecure_skip_verify
        }
}
### End of snippet File ###

import ./Caddyfile.d/*.caddy

### This is reverse proxy configuration ###